#myFooter{
  font-family: 'Signika', sans-serif;
  padding-top: 40px;
  padding-bottom: 20px;
  background-color: white;
}
.copyright{
  padding-top: 30px;
}
.titre{
  font-size: 20px;
}
.card{
  min-height: 520px;
  margin-top: 4rem;
  box-shadow: 0.3em 0.3em 0.3em 0.3em #293241;
}
img{
  max-height: 300px;
  max-width: 300px;
  align-self: center;
}
p{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: 'Signika', sans-serif;
  color: black;
  font-size: 1.1em;
}
h4{
  font-family: 'Signika', sans-serif;
  color: black;
}
.add-button{ /* style bouton 'ajouter au panier' */
  font-family: 'Signika', sans-serif;
  border : 2px solid #003249;
  font-size: 1.1em;
  display: block;
  margin: auto;
}
.navbar, h4{
  font-family: 'Handlee', cursive;
  font-size: 1.2em;
  font-weight: bold;
  color: black;
}
.navbar-brand{
  font-family: 'Handlee', cursive;
  font-size: 1.4em;
}
.toggle-button{
  background-image: url('../img/desktop-solid.svg');
  width: 50px !important;
  height: 50px !important;
  background-repeat:round;
  background-position: center;
}
body{
  background-color: #003249;
}
.container-fluid{
  padding-top: 2em;
}
.more{
  white-space: normal;
  overflow:auto;
  text-overflow: clip;
  
}
