#myFooter{
background-color: white;
margin-right: 280px;
margin-left: 350px;
color: #696969;
border: 1px solid #696969;
font-size: 18px;

}
.Titre {
  font-size: 20px;
}
.card {
  color: grey;
  min-height: 520px;
  margin-top: 5rem;
  border:none;
}
img {
  max-height: 300px;
  max-width: 300px;
  align-self: center;
}
p, h4 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: 'Signika', sans-serif;
  color: black;
}
.add-button{ /* style bouton 'ajouter au panier' */
  font-family: 'Signika', sans-serif;
  color: black;
}
.navbar, h4{
  font-family: 'Handlee', cursive;
  font-size: 17px;
  font-weight: bold;
  color: black;
}
.toggle-button{
  background-image: url('../img/desktop-solid.svg');
  width: 50px !important;
  height: 50px !important;
  background-repeat:round;
  background-position: center;
}
