#arrow{
margin-top: 20px;
font-size: 50px;
color:white;
}
#myFooter{
  text-align: left;
  font-family: 'Signika', sans-serif;
  padding-top: 40px;
  padding-bottom: 20px;
  background-color: white;
  margin-left: 0;
  margin-right: 0;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
.content{
  min-height: calc(100vh - 25vh) !important;
}
.copyright{
  padding-top: 30px;
}
.titre{
  font-size: 20px;
}
.card{
  min-height: 380px;
  box-shadow: 0.3em 0.3em 0.3em 0.3em #293241;
}
img{
  height: 170px;
  max-width: 300px;
  align-self: center;
}
p{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: 'Signika', sans-serif;
  color: black;
  font-size: 1.1em;
}
h4{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: 'Signika', sans-serif;
  color: black;
}
.add-button{ /* style bouton 'ajouter au panier' */
  font-family: 'Signika', sans-serif;
  border : 2px solid #003249;
  font-size: 1.1em;
  display: block;
  margin: auto;
}
.add-button:hover{
  background-color : #44a1a0;
  transition: all 0.5s ease;
}
.navbar, h4{
  font-family: 'Handlee', cursive;
  font-size: 1.2em;
  font-weight: bold;
  color: black;
}
.navbar-brand{
  font-family: 'Handlee', cursive;
  font-size: 1.4em;
  padding-left: 1rem;
}
.toggle-button{
  background-image: url('../img/desktop-solid.svg');
  width: 50px !important;
  height: 50px !important;
  background-repeat:round;
  background-position: center;
}
body{
  background-color: #003249;
  text-align: center;
}
.container-fluid{
  padding-top: 2em;
}
.more{
  white-space: normal;
  overflow:auto;
  text-overflow: clip;
}
  .navbar{
    padding: 0;
}
